*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter";
}

:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Verydark-desaturated-blue: hsl(229, 23%, 23%);
  --Darkgrayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Dark-cyan);
  position: relative;
  flex-direction: column;
  gap: 50px;
}

main {
  width: 350px;
  height: 370px;
  background-color: white;
  overflow: hidden;
  border-radius: 8px;
}

.card-top {
  width: 100%;
  height: 140px;
  background: url("/images/bg-pattern-card.svg") no-repeat;
  background-position: center;
  background-size: cover;
}

.card-bottom {
  width: 100%;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.profile .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  align-self: center;
  margin-top: -14%;
  border: 5px solid white;
}

.profile .profile-content {
  margin-top: 20px;
}

.big {
  font-size: 18px;
  color: var(--Verydark-desaturated-blue);
  font-weight: 600;
}

.twenty {
  color: var(--Darkgrayish-blue);
  font-weight: 400;
}

.profile-bottom {
  align-self: center;
  width: 90%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.follow {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}

.smaller {
  font-size: 13px;
  color: var(--Dark-gray);
  text-transform: uppercase;
}

@media screen and (max-width: 420px) {
  main {
    width: 80%;
    height: 375px;
  }
  .card-top {
    width: 100%;
  }

  .big {
    font-size: 16px;
  }
  .smaller {
    font-size: 12px;
  }
}

@media screen and (min-width: 777px) {
  main {
    width: 350px;
    height: 370px;
  }
}
